.both {
  display: flex;
  flex-direction: row; 
}

.left {
  background-color: white;
  color: blue;
  width: 10%;
  min-height: 100vh;
  text-align: center;
  align-content: center; 
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center; 
  align-content: center;
  color:white;
  width: 90%;
}

.title {
  position: relative;
  left: 40%;
  top: 10%; 
}
  
.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-width: 250px;
}

.card h2 {
  color: #0070f3;
}
.card:hover,
.card:focus,
.card:active {
  
  border-color: #0070f3;
}